@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="@ViewData["Title"] | Amadiere.com" />
    <meta name="author" content="Alex Holt" />
    <meta name="keywords" content="amadiere, coding, .net, core, asp.net, mvc, c#, alex, holt, software, development, programming" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@amadiere" />
    <meta name="twitter:creator" content="@@amadiere" />
    <meta name="twitter:description" content="@ViewData["Description"]"/>
    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta name="twitter:image" content="http://amadiere.com/@(ViewData["MainImage"] ?? "images/cool-alex.jpg")" />
    <link rel="canonical" href="@ViewData["Canonical"]" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>@ViewData["Title"] | Amadiere.com</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site-screen.css" asp-append-version="true" media="screen and (min-width: 1000px)" />
        <link rel="stylesheet" href="~/css/site-tablet.css" asp-append-version="true" media="screen and (min-width: 600px)" />
        <link rel="stylesheet" href="~/css/site-phone.css" asp-append-version="true" media="screen and (max-width: 600px)" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site-screen.min.css" asp-append-version="true" media="screen and (min-width: 1000px)" />
        <link rel="stylesheet" href="~/css/site-tablet.min.css" asp-append-version="true" media="screen and (min-width: 600px)" />
        <link rel="stylesheet" href="~/css/site-phone.min.css" asp-append-version="true" media="screen and (max-width: 600px)" />
    </environment>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    
    @RenderSection("BottomOfHead", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
    
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-5613525-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body class="@ViewBag.BodyClasses">
    
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
