@model Amadiere.Website.ViewModels.Blog.BlogViewItem

<div>
    <h3><a asp-controller="Blog" asp-action="Article" asp-route-month="@Model.Month" asp-route-year="@Model.Year" asp-route-slug="@Model.Slug">@Html.DisplayFor(x => x.Title)</a></h3>
    

    <div class="date">Published on: @Model.PublishedOn?.ToString("F") by <strong>Alex Holt</strong></div>
    
    <div class="description">@Model.Description</div>
</div>
