@model Amadiere.Website.ViewModels.Blog.ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["Description"] = Model.Article.Description;
    ViewData["Canonical"] = Model.FullUrl;
    ViewData["MainImage"] = $"/images/articles/{Model.Article.Year}/{Model.Article.MainImage}";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.BodyClasses = "blog";
}

<div class="logo-box">
    <a href="~/"><img src="/images/logo.png" alt="Amadiere.com" class="logo" /></a>
</div>
<header>
    <div class="main-image">
        <img src="/images/articles/@Model.Article.Year/@Model.Article.MainImage" alt="@Model.Article.Title" />
    </div>
    <h2>@Model.Article.Title</h2>
    <div>Published on: @Model.PublishedOn)</div>
    <ul class="tag-list">
        @foreach (string tag in Model.Article.Tags)
        {
            <li>@tag</li>
        }
    </ul>
</header>
<article>
    @Html.Partial($"Articles/{Model.Article.Year}/{Model.Article.ViewName}")
</article>

@Html.Partial("_SocialMediaSharing", Model)

<footer>
    Thanks for reading this article!<br />
    <strong><a asp-controller="Blog" asp-action="Index">Return to Blog Homepage</a></strong>
</footer>

@section BottomOfHead
{
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/highlight/github.css" />
    <script type="text/javascript" src="/js/highlight.min.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
}
